.navbar {
    background-color: #8d8d8d;
    color: white;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: white;
    margin-right: 10px;
}

.nav-link:hover{
    color: rgb(0, 0, 0);
}
.navbar-brand:hover{
    color: rgb(0, 0, 0);
}